{% extends "base.html" %}

{% block body %}

<!-- content/row -->
<div class="row">
	<!-- main col right -->
	<form class="navbar-form navbar-left" action="/mkboard/{{div.pk}}/" method="POST">
		{% csrf_token %}
		<div class="input-group input-group-sm" style="max-width:360px;">
			<input type="text" class="form-control" placeholder="Create a new board" name="name" id="srch-term">
			<div class="input-group-btn">
				<button class="btn btn-default" type="submit">+</button>
			</div>
		</div>
	</form>
	<div class="col-sm-7">

		{% for board in boards %}
			<div class="panel panel-default">
				<a href="/board/{{board.pk}}/"><div class="panel-heading"><h4>{{ board.name }}</h4></div></a>
				
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}