{% extends "base.html" %}
{% block body %}




<!-- Begin Body -->
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h2 id="sec0" data-board="{{ board.pk }}">{{ board.name }}</h2>
			<div id="insertcomments"></div>
{% comment %}

			{% for comment in comments %}
				<div class="panel panel-default" id="comment-{{comment.pk}}">
					<div class="panel-heading">{{ comment.user.username }}</div>
					<div class="panel-body">
						{{ comment.text }}<br>
						{% for nested_comment in comment.get_all_nested_comments %}
							<div class="panel panel-default" id="comment-{{nested_comment.pk}}">
								<div class="panel-heading"><h5>{{ nested_comment.user.username }}</h5></div>
								<div class="panel-body">{{ nested_comment.text }}</div>
							<a class="reply" id="{{comment.pk}}">reply</a>
							{% if user.is_authenticated %}	
								<form class="form" id="form-{{comment.pk}}" action="/mkcomment/{{board.pk}}/{{nested_comment.pk}}/" method="POST">
								{% csrf_token %}
								<textarea rows="3" cols="40%" style="margin-left:20px" name="text"></textarea>
								<input type="submit" value="Add comment">
								</form>
							{% endif %}	
							</div>
						{% endfor %}
					</div>
				<a class="reply" id="{{comment.pk}}">reply</a>
				{% if user.is_authenticated %}	
					<form class="form" id="form-{{comment.pk}}" action="/mkcomment/{{board.pk}}/{{comment.pk}}/" method="POST">
					{% csrf_token %}
					<textarea rows="3" cols="40%" style="margin-left:20px" name="text"></textarea>
					<input type="submit" value="Add comment">
					</form>
				{% endif %}	
				</div>
			{% endfor %}
{% endcomment %}
		</div>
	</div>
	{% if user.is_authenticated %}
		<form id="haha"action="/mkcomment/{{board.pk}}/" method="POST">
			{% csrf_token %}
			<textarea rows="3" cols="40%" style="margin-left:20px" name="text"></textarea>
			<input type="submit" value="Add comment">
		</form>
	{% endif %}
</div>
<script type="text/javascript">

// This string contains the html for a single comment.
// modify the board_url(request) view to also add the
// pk for every comment in the tuples.
// Then use this string to append it to the appropriate
// div in this template. You want to append recursively.
// So make a function that recursively appends all the
// comments.

//"<div class='panel panel-default' id='comment-"+comments[i].pk+"'><div class='panel-heading'>{{ comment.user.username }}</div><div class='panel-body'>"+comments[i].txt+"</div><a class='reply' id='"+comments[i].pk+"'>reply</a>{% if user.is_authenticated %}<form class='form' id='form-"+comments[i].pk+"' action='/mkcomment/{{board.pk}}/"+comments[i].pk+"/' method='POST'>{% csrf_token %}<textarea rows='3' cols='40%' style='margin-left:20px' name='text'></textarea><input type='submit' value='Add comment'></form>{% endif %}</div>"



// I got the whole string of data for the comments.
// But I don't know how to make use of them in
// JavaScript.
// Go to the console in the browser and fiddle around.
	// Now this little shit above will work for sure.
	// To access the data: object[0].comment to get
	// the comment text for the first comment object


	$(document).ready(function() {
		boardpk = $('#sec0').data('board');

		comments = {{ list|safe }};
		// append to div>#insertcomments
		append_comments_rec(comments, -1);
		$(".hahaform").hide();
	});

function clicked(pk) {
		$(".hahaform").hide();
		$("#form-"+pk).show();
		console.log(pk);
}

	function append_comments_rec(comments, parent_pk, i) {
		for( i=0; i < comments.length; i++) {
			// append
			if(parent_pk == -1) {
				comment = "<div class='panel panel-default' id='comment-"+comments[i].pk+"'><div class='panel-heading'>"+comments[i].username+"</div><div class='panel-body'>"+comments[i].txt+"</div><a class='reply' id='"+comments[i].pk+"' onclick='clicked("+comments[i].pk+")'>reply</a>{% if user.is_authenticated %}<form class='hahaform' id='form-"+comments[i].pk+"' action='/mkcomment/"+boardpk+"/"+comments[i].pk+"/' method='POST'>{% csrf_token %}<textarea rows='3' style='margin-left:20px' name='text'></textarea><input type='submit' value='Add comment'></form>{% endif %}</div>"
				
				$("#insertcomments").append(comment);
			} else {
				comment = "<div style='margin: 0 auto;'><div style='margin-left: 50px;' class='panel panel-default' id='comment-"+comments[i].pk+"'><div class='panel-heading'>"+comments[i].username+"</div><div class='panel-body'>"+comments[i].txt+"</div><a class='reply' id='"+comments[i].pk+"' onclick='clicked("+comments[i].pk+")'>reply</a>{% if user.is_authenticated %}<form  class='hahaform' id='form-"+comments[i].pk+"' action='/mkcomment/"+boardpk+"/"+comments[i].pk+"/' method='POST'>{% csrf_token %}<textarea rows='3' style='margin-left:20px' name='text'></textarea><input type='submit' value='Add comment'></form>{% endif %}</div></div>"
				
				$("#comment-"+parent_pk).append(comment);
			}
			if(comments[i].children.length > 0) {
				append_comments_rec(comments[i].children, comments[i].pk, 0);
			}
		}
	}


</script>
{% endblock %}






























































